<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/header.ejs') %>
    <title>Add Question</title>
</head>

<body>
    <%- include('../partials/navbar.ejs') %>
    <div id="container" style="text-align: center; align-items: center; align-content: center;">
        <center>
            <div style="width: 40vw;">
                <h2>Login</h2>
                <% if (err) { %>
                <p class="flow-text"><%= err%></p>
                <% } %>
                <form action="/users/login" method="POST">
                    <label for="username">Username</label><br>
                    <input type="text" name="username"><br>
                    <label for="password">Password:</label><br><br>
                    <input type="password" id="password" name="password"><br><br>
                    <input class="waves-light btn" type="submit" value="Submit">
                </form>

            </div>


        </center>
    </div>

    <%- include('../partials/footer.ejs') %>
</body>

</html>